[Unit]
Description=Timer on which to lock the screen

[Timer]
OnStartupSec=35min
OnUnitInactiveSec=35min
AccuracySec=1us

[Install]
WantedBy=timers.target
